@page
@using System.Globalization
@model PhotoWarehouseApp.Pages.Photos.SearchModel
@{
    ViewData["Title"] = "Search";
}


<h1>Search results</h1>

@if (ViewBag.NoSearchResultsMessage is not null)
{
    <div class="alert">@ViewBag.NoSearchResultsMessage</div>
}

<div class="row">
    @foreach (var item in Model.FoundPhotos)
    {
        <div class="card column">
            <div class="card-picture row">
                <img src="@item.PhotoItemFirst.RelativePath" alt="@item.PhotoItemFirst.RelativePath @item.PhotoItemFirst.Size" />
            </div>
            <div class="card-title">
                @item.Photo.Name
            </div>
            <div class="card-info">
                @item.Photo.DateTaken.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
            </div>
            <div class="card-info">
                @item.Photo.Category.Name
            </div>
        </div>
    }
</div>
