@page
@using System.Globalization
@model PhotoWarehouseApp.Pages.Photos.SearchModel
@{
    ViewData["Title"] = "Search";
}


<div class="column column-centered">
    <h1>Search results</h1>
    @if (ViewBag.NoSearchResultsMessage is not null)
    {
        <div class="alert">@ViewBag.NoSearchResultsMessage</div>
    }

</div>
<div class="row card-collection">
    @foreach (var item in Model.FoundPhotos)
    {
        <div class="card column">
            <div class="card-picture row">
                <a asp-page="/Photos/Details" asp-route-photoId="@item.Photo.Id">
                    <img src="@item.PhotoItemFirst.RelativePath" alt="@item.PhotoItemFirst.RelativePath @item.PhotoItemFirst.Size" />
                </a>
            </div>
            <div class="card-title">
                <a class="clickable" asp-page="/Photos/Details" asp-route-photoId="@item.Photo.Id">
                    @item.Photo.Name
                </a>
            </div>
            <div class="card-info">
                @item.Photo.DateTaken?.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)
            </div>
            <div class="card-info">
                @item.Photo.Category.Name
            </div>
        </div>
    }
</div>
