@page
@model PhotoWarehouseApp.Pages.Admin.Photos.DeleteModel

@{
    ViewData["Title"] = "Удалить фотографию";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Удаление фотографии</h2>

<h3>Подтвердите удаление фотографии</h3>
<div class="column">
    <div class="row">
        @Html.DisplayNameFor(model => model.Photo.Name): @Model.Photo.Name
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.Photo.Description): @Model.Photo.Description
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.Photo.InitialUploadDate): @Model.Photo.InitialUploadDate
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.Photo.DateTaken): @Model.Photo.DateTaken
    </div>
    <div class="row">
        @Html.DisplayNameFor(model => model.Photo.Category): @Model.Photo.Category.Name
    </div>

    <form method="post">
        <input type="hidden" asp-for="Photo.Id" />
        <button type="submit" class="clickable">Удалить</button>
        <a class="clickable" asp-page="./Index">Назад к списку фотографий</a>
    </form>
</div>
