@page "{photoId:int}"
@model PhotoWarehouseApp.Pages.Admin.Photos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Photo: @Html.DisplayFor(model => model.Photo.Name)</h4>
    <div>@Html.DisplayFor(model => model.Photo.Description)</div>
    <hr />

    <table>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Photo.Name)</td>
                <td>@Html.DisplayNameFor(model => model.Photo.DateTaken)</td>
                <td>@Html.DisplayNameFor(model => model.Photo.InitialUploadDate)</td>
                <td>@Html.DisplayNameFor(model => model.Photo.Category.Name)</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Photo.Name)</td>
                <td>@Html.DisplayFor(model => model.Photo.DateTaken)</td>
                <td>@Html.DisplayFor(model => model.Photo.InitialUploadDate)</td>
                <td>@Html.DisplayFor(model => model.Photo.Category.Name)</td>
            </tr>
        </tbody>
    </table>

    <hr />

    <table>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Photo.PhotoItems[0].DateUploaded)</td>
                <td>@Html.DisplayNameFor(model => model.Photo.PhotoItems[0].FileFormat.Name)</td>
                <td>@Html.DisplayNameFor(model => model.Photo.PhotoItems[0].Size)</td>
                <td>@Html.DisplayNameFor(model => model.Photo.PhotoItems)</td> <!--for photo iteself-->
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var photoItem in Model.Photo.PhotoItems)
                {
                    <td>@photoItem.DateUploaded</td>
                    <td>@photoItem.FileFormat.Name</td>
                    <td>@photoItem.Size</td>
                    <td><img src="@photoItem?.RelativePath" width="256" alt="@photoItem.Photo.Name @photoItem.Size" /></td> <!--for photo iteself-->
                }
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-photoId="@Model.Photo.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
