@page "{photoId}"
@model PhotoWarehouseApp.Pages.Admin.Photos.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

@if (Model.Input.ImageError is not null)
{
    <div>@Model.Input.ImageError</div>
}

<h4>Photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Photo.Id" />
            <div class="form-group">
                <label asp-for="Input.Photo.Name" class="control-label"></label>
                <input asp-for="Input.Photo.Name" class="form-control" />
                <span asp-validation-for="Input.Photo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Photo.Description" class="control-label"></label>
                <input asp-for="Input.Photo.Description" class="form-control" />
                <span asp-validation-for="Input.Photo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Photo.InitialUploadDate" class="control-label"></label>
                <input asp-for="Input.Photo.InitialUploadDate" class="form-control" />
                <span asp-validation-for="Input.Photo.InitialUploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Photo.DateTaken" class="control-label"></label>
                <input asp-for="Input.Photo.DateTaken" class="form-control" />
                <span asp-validation-for="Input.Photo.DateTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Photo.CategoryId" class="control-label"></label>
                <select asp-for="Input.Photo.CategoryId" class="form-control" asp-items="Model.Input.Categories"></select>
                <span asp-validation-for="Input.Photo.CategoryId" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.Input.Photo.PhotoItems.Count; i++)
            {
                <div class="row" id="row-@Model.Input.Photo.PhotoItems[i].Id">
                    <input type="hidden" asp-for="Input.Photo.PhotoItems[i].Id" />
                    <div>@Model.Input.Photo.PhotoItems[i].DateUploaded</div>
                    <div>@Model.Input.Photo.PhotoItems[i].FileFormat.Name</div>
                    <div>@Model.Input.Photo.PhotoItems[i].Size</div>
                    <div><img src="@Model.Input.Photo.PhotoItems[i].RelativePath" width="256" 
                              alt="@Model.Input.Photo.PhotoItems[i].Photo.Name @Model.Input.Photo.PhotoItems[i].Size" /></div> <!--for photo iteself-->
                    <button class="photoItemDeleteButton" id="@Model.Input.Photo.PhotoItems[i].Id">Delete</button>
                </div>
            }

            <div class="form-group">
                <label>Upload photos</label>
                <input type="file" name="photoItem" multiple value="" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to all photos</a>
</div>

@section Scripts {
    @{
        <script>
            const existingPhotoItems = document.querySelectorAll('.photoItemDeleteButton');
            existingPhotoItems.forEach((pi) => {
                pi.addEventListener('click', (event) => {
                    const clickedButton = event.target;
                    const buttonId = clickedButton.getAttribute('id');
                    const sectionToDelete = document.querySelector(`#row-${buttonId}`);
                    sectionToDelete.remove();
                });
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
