@page "{photoId}"
@model PhotoWarehouseApp.Pages.Admin.Photos.EditModel

@{
    ViewData["Title"] = "Редактировать фотографию";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="column column-centered">

    <h2>Редактирование фотографии</h2>

    @if (Model.ImageError is not null)
    {
        <div class="alert">@Model.ImageError</div>
    }

    <form method="post" enctype="multipart/form-data" class="form-medium form-large">
        <div class="column">
            <div asp-validation-summary="ModelOnly" class="validation-alert"></div>
            <input type="hidden" asp-for="Input.Photo.Id" />
            <div class="row">
                <label asp-for="Input.Photo.Name"></label>
                <input asp-for="Input.Photo.Name" class="form-control" />
                <span asp-validation-for="Input.Photo.Name" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Input.Photo.Description"></label>
                <input asp-for="Input.Photo.Description" class="form-control" />
                <span asp-validation-for="Input.Photo.Description" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Input.Photo.InitialUploadDate"></label>
                <input type="datetime-local" asp-for="Input.Photo.InitialUploadDate" class="form-control" />
                <span asp-validation-for="Input.Photo.InitialUploadDate" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Input.Photo.DateTaken"></label>
                <input type="datetime-local" asp-for="Input.Photo.DateTaken" class="form-control" />
                <span asp-validation-for="Input.Photo.DateTaken" class="validation-alert"></span>
            </div>
            <div class="row">
                <label asp-for="Input.Photo.CategoryId"></label>
                <select asp-for="Input.Photo.CategoryId" class="form-control" asp-items="Model.Input.Categories"></select>
                <span asp-validation-for="Input.Photo.CategoryId" class="validation-alert"></span>
            </div>

            <div class="table-wrapper column small-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Input.PhotoItemData[0].PhotoItem.FileName)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Input.PhotoItemData[0].PhotoItem.DateUploaded)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Input.PhotoItemData[0].PhotoItem.FileFormat)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Input.PhotoItemData[0].PhotoItem.Size)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Input.PhotoItemData[0].PhotoItem)
                            </th>
                            <th scope="col">
                                Действия
                            </th>
                        </tr>
                    </thead>
                    @*<div>Варианты фотографии:</div>*@
                    <tbody>
                        @for (int i = 0; i < Model.Input.PhotoItemData.Count; i++)
                        {
                            <tr id="row-@Model.Input.PhotoItemData[i].PhotoItem.Id">
                                <td>
                                    <input type="hidden" asp-for="Input.PhotoItemData[i].PhotoItem.Id" />
                                    <input class="itemStatus" type="hidden" asp-for="Input.PhotoItemData[i].PhotoItemStatus" />
                                    <div>@Model.Input.PhotoItemData[i].PhotoItem.FileName</div>
                                </td>
                                <td>
                                    <div>@Model.Input.PhotoItemData[i].PhotoItem.DateUploaded</div>
                                </td>
                                <td>
                                    <div>@Model.Input.PhotoItemData[i].PhotoItem.FileFormat</div>
                                </td>
                                <td>
                                    <div>@Model.Input.PhotoItemData[i].PhotoItem.Size</div>
                                </td>
                                <td>
                                    <div>
                                        <img src="@Model.Input.PhotoItemData[i].PhotoItem.RelativePath" width="256"
                                             alt="@Model.Input.PhotoItemData[i].PhotoItem.Photo.Name @Model.Input.PhotoItemData[i].PhotoItem.Size" />
                                    </div> <!--for photo iteself-->
                                </td>
                                <td>
                                    <button type="button" class="photoItemDeleteButton clickable">Удалить</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row">
                <label for="photoItem" class="clickable">Загрузка фотографий</label>
                <input type="file" id="photoItem" name="photoItem" multiple value="" class="form-control" />
            </div>

            <button type="submit" class="clickable">Сохранить</button>
        </div>
    </form>

    <div class="row">
        <a class="clickable" asp-page="./Index">Назад к списку фотографий</a>

        <partial name="_ManageCategories" />
    </div>
</div>

@section Scripts {
    @{

        await Html.RenderPartialAsync("_PhotoItemScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
